name: Promote to Stage

on:
  workflow_dispatch:

jobs:
  promote:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync main
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git pull --rebase origin main

      - name: Promote to stage
        run: |
          chmod +x scripts/promote-stage.sh
          ./scripts/promote-stage.sh
